<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <form th:action="@{/comment}" th:object="${comment}" method="post">
        <label for="content">コメント：</label>
        <input type="text" th:field="*{content}">
        <button>登録</button><br>
        <small style="color:red" th:errors="*{content}"></small>
    </form>

    <br>
    <h3>一覧</h3>
    <div th:each="comment: ${comments}">
        <div>[[${comment.id}]] - [[${comment.content}]]</div>
    </div>
</body>
</html>